<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
    <div>Name: <input type="text" name="name" id="name"></div>
    <div>Email: <input type="text" name="email" id="email"></div>
    <div>Password: <input type="text" name="password" id="password"></div>
    <div><input type="submit" value="Sign Up"></div>
</form>

